.baldrick-modal-title .modal-label,
.baldrick-modal-title .baldrick-modal-closer{
  color: #fff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
.baldrick-modal-title .baldrick-modal-closer:hover {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
}
.baldrick-modal-title .modal-label{
  background-color: {{core_color}};
}
.{{core-slug}}-main-headercaldera .loading{
	top: -2px;
}