.baldrick-modal-title .modal-label,
.baldrick-modal-title .baldrick-modal-closer{
  color: #fff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
.baldrick-modal-title .baldrick-modal-closer:hover {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
}
.baldrick-modal-title .modal-label{
  background-color: {{core_color}};
}
.{{core-slug}}-main-headerbrickroad .loading{
	top: -2px;
}
.{{core-slug}}-editor-panel > h4 {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
  font-weight: 400;
  margin: -10px -20px 22px;
  padding: 10px 16px;
}
.brickroad-main-form.has-sub-nav {
  margin-left: 146px;
}