.primary-table-selector {
  margin-bottom: 12px;
  width: 386px;
}
.primary-table-selector > select {
  width: 100%;
}
.fields-wrapper {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #dfdfdf;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  float: left;
  padding: 0;
  width: 360px;
}
.fields-wrapper .field-item {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
  padding: 6px 12px;
  height: 30px;
}
.fields-wrapper .field-item .field-action {
  background: #efefef none repeat scroll 0 0;
  border: 1px solid #dfdfdf;
  color: #afafaf;
  display: block;
  float: right;
  height: 20px;
  margin: -7px -13px 0 0;
  width: 20px;
  cursor: pointer;
}
.fields-wrapper .field-item.primary-index {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1), 7px 0 0 rgba(81, 204, 0, 0.7) inset;
}
.fields-wrapper .field-item.index-field {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1), 7px 0 0 rgba(255, 184, 0, 0.6) inset;
}
.fields-wrapper .field-child {
  border-left: 1px solid #dfdfdf;
  margin: 0 0 0 13px;
}