


.node-wrapper {
  float: left;
  position: relative;
}

.node-wrapper .node-image-box {
  box-sizing: padding-box;
  overflow: hidden;
  transition: all 0.3s ease 0s;
}
.node-wrapper .node-config-box{
  display: none;
}
.node-wrapper .node-image-tool{
  opacity: 0.09;
  transition: all 0.3s ease 0s;
}
.ui-sortable-helper .node-image-tool{
  display: none;
}
.node-wrapper.editing .node-image-tool, 
.node-wrapper:hover .node-image-tool{
  opacity: 1;
}
.node-wrapper.editing, 
.node-wrapper.ui-sortable-helper{
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);  
  z-index: 999;
}
.node-wrapper.ui-sortable-helper{
  z-index: 9999;
}
.node-wrapper.ui-sortable-placeholder{
 box-shadow: none; 
}
.node-wrapper.editing .node-config-box {
  display: block;
  background: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  z-index: 999;
}
.ui-sortable-placeholder {
  border: 1px dashed #afafaf;
  background: #e9e9e9;
  visibility: visible !important;
}
.node-config-box .node-config-group input, 
.node-config-box .node-config-group select{
  margin: 0;
}
.node-config-group{
  width: 100%;
}
.node-config-group > label,
.node-config-group > input,
.node-config-group > select,
.node-config-group > textarea{
  width: 100% !important;
}
.node-wrapper.editing.ui-sortable-helper .node-config-box{
  display: none;
}
.node-wrapper.ui-sortable-helper .node-image-box.editing {
  
}
.node-wrapper.ui-sortable-helper .button{
  opacity: 0;
}