.caldera-input-error,
input.caldera-input-error,
select.caldera-input-error,
textarea.caldera-input-error {
  border: 1px solid #df8080 !important;
  box-shadow: 0 0 2px #ff6060 !important;
}

.caldera-main-header {
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), 8px 0 0 #e99e00 inset;
	margin: -10px -20px 10px -22px;
	padding: 0 0 8px 22px;
	overflow: hidden;
}
.caldera-sub-header {
  background: none repeat scroll 0 0 #f8f8f8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), 8px 0 0 #e99e00 inset;
  margin: -10px -20px 10px -22px;
  padding: 0 0 0 8px;
  overflow: hidden;
}
.caldera-subline,
.caldera-version {
  color: #9f9f9f;
  font-size: 0.55em;
  line-height: 0;
}

.caldera-main-header h2 {
	color: #4f4f4f;
	font-size: 20px;
	font-weight: 300;
  float: left;
  line-height: 20px;
}
.caldera-main-header .logo-icon{
	color: #e99e00;
	font-size: 40px;
	margin: -4px 20px 0 -45px;
}

.wrap .caldera-main-header .add-new-h2{
	font-size: 12px;
	margin: 13px;
	cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.caldera-main-header .add-new-h2:hover {
	background: none repeat scroll 0 0 #e99e00;
  color: #fff;
}
.caldera-main-header .add-new-h2.building{
  background: none repeat scroll 0 0 #909090;
  color: #fff;
}
.caldera-main-header .caldera-header-tabs {
  float: left;
  margin: 0;
  padding: 0;
}
.caldera-sub-header .caldera-sub-tabs {
  margin: 0;
  padding: 0;
}
.caldera-main-header .caldera-header-tabs > li{
  float: left;
}
.caldera-main-header .caldera-header-tabs > li > a{
  display: inline-block;
  margin: 0 0 -15px;
  padding: 16px 20px 20px;
  text-decoration: none;
  color:#e99e00;
}
.caldera-main-header .caldera-header-tabs > li > a:hover{
  background-color: #efefef;
}
.caldera-main-header .caldera-header-tabs > li.active > a{
  background-color: #e99e00;
  color: #fff;
}
.caldera-sub-header .caldera-sub-tabs > li {
  float: left;
  margin: 0;
}
.caldera-sub-header .caldera-sub-tabs > li > a{
  display: inline-block;
  margin: 0;
  padding: 6px 14px 8px;
  text-decoration: none;
  color:#e99e00;
}

.caldera-sub-header .caldera-sub-tabs > li > a:hover{
  background-color: #efefef;
}
.caldera-sub-header .caldera-sub-tabs > li.active > a{
  background-color: #e99e00;
  color: #fff;
}
.caldera-split-panel {
  margin-left: 300px;
}
.caldera-side-list {
  float: left;
  margin-left: -300px;
  width: 430px;
}
.caldera-side-list > label{
	display: block;
}
.caldera-side-list > select {
	width: 100%;
	margin-bottom: 2px;
}


.caldera-main-list {
  float: left;
  min-height: 100px;
  width: 550px;
  position: relative;
}
.caldera-main-list .field-entry-item{
  width: 100%;
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  color: #555;
  display: inline-block;
  font-size: 13px;
  margin: 6px 6px 0 0;
  padding: 12px;  
}
.caldera-main-list .field-connection {
  border-left: 3px solid rgb(175,0,0);
  margin: 0 12px;
  padding: 0 12px;
}

.caldera-config-group {
  margin-bottom: 6px;
}
.caldera-config-group > label {
  display: inline-block;
  margin: 6px 0 0;
  vertical-align: top;
  width: 180px;
}

.caldera-config-group .wp-picker-container{
  margin: 6px 1px 0;
}

.caldera-wrap-item {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  color: #555;
  font-size: 13px;
  height: auto;
  margin: 6px 6px 0 0;
  overflow: hidden;
  padding: 0 0 6px 50px;
  position: relative;
  width: 282px;
}

.baldrick-modal-title .modal-label,
.baldrick-modal-title .baldrick-modal-closer{
  color: #fff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
.baldrick-modal-title .baldrick-modal-closer:hover {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
}
.baldrick-modal-title .modal-label{
  background-color: #e99e00;
}

/* Tags */
.magic-tag-init {
  margin: 4px 2px;
  padding: 3px;
  position: absolute;
  right: 0;
}
.ui-autocomplete-category {
  background: none repeat scroll 0 0 #cecece;
  font-weight: bold;
  padding: 3px 10px;
}
.ui-autocomplete {
  border: 1px solid #cbcbcb;
  max-height: 380px;
  overflow: auto;
}
.caldera-card-item {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), 50px 0 0 #f8f8f8 inset;
  box-sizing: border-box;
  color: #555;
  display: inline-block;
  font-size: 13px;
  min-height: 90px;
  margin: 6px 6px 0 0;
  overflow: hidden;
  padding: 0 0 0 50px;
  position: relative;
  width: 410px;
}
.caldera-card-sub-item {
  background: none repeat scroll 0 0 #fcfcfc;
  border: 1px solid #e5e5e5;
  box-shadow: -39px 0 0 #f8f8f8 inset,-40px 0 0 #dfdfdf inset;
  box-sizing: border-box;
  color: #555;
  font-size: 13px;
  margin: 0 0 6px;
  padding: 6px;
  position: relative;
}

.caldera-card-item .caldera-card-icon {
  float: left;
  font-size: 95px;
  height: 100%;
  margin-left: -51px;
  overflow: hidden;
  padding: 0 1px;
  text-indent: -40px;
  width: 50px;
  line-height: 84px;
}
.caldera-card-item .caldera-card-icon:before {
  opacity: 0.2;
}
.caldera-card-content {
  box-sizing: padding-box;
  border-left: 1px solid #dfdfdf;
  padding: 6px 12px;
  width: 100%;
  min-height: 90px;
}
h4 > small.description {
  color: #7f7f7f;
  font-style: italic;
  font-weight: normal;
}
.caldera-card-item .caldera-card-content > h4{
	margin: 0;
}

.caldera-card-content .description {
  color: #8f8f8f;
  font-size: 11px;
}
.caldera-card-content .caldera-card-actions {
  padding: 0;
}
.caldera-card-content .caldera-card-actions .row-actions{
	visibility: visible;
    left: initial;
}
.caldera-card-content .caldera-card-actions .row-actions a{
	text-decoration: none;
}
#caldera-save-indicator.loading .spinner{
  display: block;
  visibility: visible;
}

/* Filter Groups */

.caldera-filter-group-or {
  color: #888888;
  font-size: 15px;
  left: 0;
  padding: 4px 0 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: -26px;
  width: 50px;
}
.caldera-filter-group {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 50px 0 0 #f8f8f8 inset;
  box-sizing: border-box;
  color: #555;
  font-size: 13px;
  height: auto;
  margin: 24px 6px 0 0;
  padding: 0 0 0 50px;
  position: relative;
  width: 750px;
}
.caldera-filter-group:first-child{
  margin-top: 6px;
}
.caldera-filter-group-content {
  box-sizing: padding-box;
  border-left: 1px solid #dfdfdf;
  padding: 6px 6px 40px;
  width: 100%;
  min-height: 80px;
}
.caldera-filter-group .caldera-filter-group-icon {
  color: #e99e00;
  float: left;
  font-size: 40px;
  height: 100%;
  margin-left: -51px;
  width: 50px;
}
.caldera-filter-group:first-child .caldera-filter-group-or{
  display: none;
}
.caldera-filter-line:first-child .caldera-filter-group-icon {
  display: none;
}

/* Search Fields*/
.caldera-search-field{
  margin-top: 6px;
  margin-bottom: 6px;
}



/* GRID */
.layout-grid *,.layout-grid *:before,.layout-grid *:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.layout-grid .row{margin-left:-5px;margin-right:-5px;}
.layout-grid .row:before,.layout-grid .row:after{content:" ";display:table;}
.layout-grid .row:after{clear:both;}
.layout-grid .row:before,.layout-grid .row:after{content:" ";display:table;}
.layout-grid .row:after{clear:both;}
.layout-grid .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{position:relative;min-height:1px;padding-left:5px;padding-right:5px;}
.layout-grid .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11{float:left;}
.layout-grid .col-xs-12{width:100%;}
.layout-grid .col-xs-11{width:91.66666666666666%;}
.layout-grid .col-xs-10{width:83.33333333333334%;}
.layout-grid .col-xs-9{width:75%;}
.layout-grid .col-xs-8{width:66.66666666666666%;}
.layout-grid .col-xs-7{width:58.333333333333336%;}
.layout-grid .col-xs-6{width:50%;}
.layout-grid .col-xs-5{width:41.66666666666667%;}
.layout-grid .col-xs-4{width:33.33333333333333%;}
.layout-grid .col-xs-3{width:25%;}
.layout-grid .col-xs-2{width:16.666666666666664%;}
.layout-grid .col-xs-1{width:8.333333333333332%;}
.layout-grid .col-xs-pull-12{right:100%;}
.layout-grid .col-xs-pull-11{right:91.66666666666666%;}
.layout-grid .col-xs-pull-10{right:83.33333333333334%;}
.layout-grid .col-xs-pull-9{right:75%;}
.layout-grid .col-xs-pull-8{right:66.66666666666666%;}
.layout-grid .col-xs-pull-7{right:58.333333333333336%;}
.layout-grid .col-xs-pull-6{right:50%;}
.layout-grid .col-xs-pull-5{right:41.66666666666667%;}
.layout-grid .col-xs-pull-4{right:33.33333333333333%;}
.layout-grid .col-xs-pull-3{right:25%;}
.layout-grid .col-xs-pull-2{right:16.666666666666664%;}
.layout-grid .col-xs-pull-1{right:8.333333333333332%;}
.layout-grid .col-xs-pull-0{right:0%;}
.layout-grid .col-xs-push-12{left:100%;}
.layout-grid .col-xs-push-11{left:91.66666666666666%;}
.layout-grid .col-xs-push-10{left:83.33333333333334%;}
.layout-grid .col-xs-push-9{left:75%;}
.layout-grid .col-xs-push-8{left:66.66666666666666%;}
.layout-grid .col-xs-push-7{left:58.333333333333336%;}
.layout-grid .col-xs-push-6{left:50%;}
.layout-grid .col-xs-push-5{left:41.66666666666667%;}
.layout-grid .col-xs-push-4{left:33.33333333333333%;}
.layout-grid .col-xs-push-3{left:25%;}
.layout-grid .col-xs-push-2{left:16.666666666666664%;}
.layout-grid .col-xs-push-1{left:8.333333333333332%;}
.layout-grid .col-xs-push-0{left:0%;}
.layout-grid .col-xs-offset-12{margin-left:100%;}
.layout-grid .col-xs-offset-11{margin-left:91.66666666666666%;}
.layout-grid .col-xs-offset-10{margin-left:83.33333333333334%;}
.layout-grid .col-xs-offset-9{margin-left:75%;}
.layout-grid .col-xs-offset-8{margin-left:66.66666666666666%;}
.layout-grid .col-xs-offset-7{margin-left:58.333333333333336%;}
.layout-grid .col-xs-offset-6{margin-left:50%;}
.layout-grid .col-xs-offset-5{margin-left:41.66666666666667%;}
.layout-grid .col-xs-offset-4{margin-left:33.33333333333333%;}
.layout-grid .col-xs-offset-3{margin-left:25%;}
.layout-grid .col-xs-offset-2{margin-left:16.666666666666664%;}
.layout-grid .col-xs-offset-1{margin-left:8.333333333333332%;}
.layout-grid .col-xs-offset-0{margin-left:0%;}




.layout-grid .layout-column {
  background-color: #fff;
  border: 0 solid #dddddd;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  margin: 6px 3px 0;
  min-height: 50px;
  padding: 12px 0;
  position: relative;
}


.layout-grid .row-tools-bar {
  margin: 15px 0 -15px;
  padding: 0;
  position: relative;
  text-align: center;
  z-index: 1000;
}
.layout-grid .row-control-icon{
  background: none repeat scroll 0 0 #f1f1f1;
  border: 0 solid #ff00aa;
  border-radius: 68px;
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.26) inset;
  display: inline;
  font-size: 14px;
  padding: 4px;
}




















/* variables panel styles */

/* experimental variables */
.yellowstone_element-wrapper,
.yellowstone_element-items-config-wrapper{
  margin-left: 12px;
  padding: 3px;
  width: 300px;
  float: left;
}
.yellowstone_element-items-config-wrapper{
  width: 520px;
}
.yellowstone_element-config-group,
.yellowstone_element-group{
  background: none repeat scroll 0 0 #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  border: 1px solid #e5e5e5;
  margin-bottom: 12px;
  padding: 6px;
}
.yellowstone_element-config-group{
  margin-bottom: 12px;
  padding: 6px;
}

.yellowstone_element-group-helper {
  border: 1px dashed #bfbfbf;
  margin-bottom: 13px;
  padding-bottom: 12px;
}

.yellowstone_element-group-handle {
  cursor: move;
  color: #8f8f8f;
}
.yellowstone_element-group-config {
  color: #888;
  cursor: pointer;
  float: right;
  font-size: 1.3em;
}
.yellowstone_element-group-handle:hover,
.yellowstone_element-group-config:hover {
  color: #666666;
}
.yellowstone_element-config-group > h3,
.yellowstone_element-group > h3 {
  color: #535353;
  font-size: 1em;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.yellowstone_element-config-group > h3{
  margin-bottom: 8px;
}
.yellowstone_element-config-group{
  display: none;
}
.yellowstone_element-holder {
  margin-top: 6px;
  min-height: 40px;
}
.yellowstone_element-holder .yellowstone_element-group-helper {
  margin-bottom: 6.5px;
  padding-bottom: 12px;
}

.yellowstone_element-item {
  background: none repeat scroll 0 0 #fafafa;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  margin-bottom: 6px;
  padding: 6px;
  transition: border 200ms ease 0s, background-color 200ms ease 0s;
}
.yellowstone_element-item:hover {
  background: none repeat scroll 0 0 #f3f3f3;
}
.yellowstone_element-item{
  trans
}
.yellowstone_element-item.highlight {
  background: none repeat scroll 0 0 #f3f3f3;
  border: 1px solid #acacac;
}
.yellowstone_element-item > h4 {
  font-size: 1em;
  font-weight: 400;
  margin: 0 20px 0 0;
  padding: 0;
  cursor: move;
}


.yellowstone_element-panel-toggle-buttons {
  float: right;
  margin: -2px 9px 0 0;
}

.yellowstone_element-panel-toggle-buttons .button {
  border-radius: 0;
  margin-right: -5px;
}
.yellowstone_element-panel-toggle-buttons .button:first-child {
  border-radius: 3px 0 0 3px;
}
.yellowstone_element-panel-toggle-buttons .button:last-child {
  border-radius: 0 3px 3px 0;
}


/* group config */
.yellowstone_element-group-config {
  background: none repeat scroll 0 0 #f7f7f7;
  border: 1px solid #e1e1e1;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04) inset;
  margin-top: 5px;
  padding: 5px;
  display: none;
}
.yellowstone_element-group-config > label {
  display: inline-block;
  height: 25px;
  width: 78px;
}
