.{{core-slug}}-calderaadmin-wrap,
.{{core-slug}}-calderamain-canvas {
  margin-top: 103px;
}

.{{core-slug}}-input-error,
input.{{core-slug}}-input-error,
select.{{core-slug}}-input-error,
textarea.{{core-slug}}-input-error {
  border: 1px solid #df8080 !important;
  box-shadow: 0 0 2px #ff6060 !important;
}
h4 > small.description {
  color: #7f7f7f;
  font-style: italic;
  font-weight: normal;
}
.{{core-slug}}-main-headerbrickroad,
.{{core-slug}}-main-headercaldera {
	background: none repeat scroll 0 0 #fff;
	box-shadow: 8px 1px 6px rgba(0, 0, 0, 0.04), 8px 0 0 {{core_color}} inset;
	margin: -10px -20px 10px -22px;
	padding: 0 0 8px 22px;
	overflow: hidden;
}
.{{core-slug}}-main-headercaldera,
.{{core-slug}}-sub-headercaldera {
  left: 182px;
  position: fixed;
  right: 0;
  top: 42px;
  z-index: 9999;
}
.{{core-slug}}-sub-headercaldera {
  top: 96px;
  z-index: 9998;
}

.{{core-slug}}-fixed-list {
  width: 420px;
  float:left;  
}
.{{core-slug}}-fixed-center {
  bottom: 32px;
  left: 630px;
  overflow: hidden;
  position: fixed;
  top: 171px;
  width: 750px;
  z-index: 999;
}
.{{core-slug}}-list-control-button.button.button-small {
  float: right;
  margin: 6px 6px 0px 0px;
  padding: 0 12px;
}
.folded .{{core-slug}}-main-headercaldera,
.folded .{{core-slug}}-sub-headercaldera{
  left: 58px;
}
.folded .{{core-slug}}-fixed-center {
  left: 505px;
}

@media screen and ( max-width: 960px ) {
  .{{core-slug}}-main-headercaldera,
  .{{core-slug}}-sub-headercaldera{
    left: 58px;
  }
  .{{core-slug}}-fixed-list {
    width: 340px;
  }
  .{{core-slug}}-fixed-center {
    left: 435px;
  }
}
@media screen and ( max-width: 782px ) {
  .{{core-slug}}-main-headercaldera,
  .{{core-slug}}-sub-headercaldera{
    top: 56px;
    left: 22px;
  } 
  .{{core-slug}}-sub-headercaldera{
    top: 110px;
  }
  .{{core-slug}}-fixed-center {
    left: 370px;
    top: 185px;
  }  
}
@media screen and ( max-width: 600px ) {
  .{{core-slug}}-main-headercaldera,
  .{{core-slug}}-sub-headercaldera{
    position: absolute;
    left: 12px;
  }
}
.{{core-slug}}-sub-headercaldera {
  background: none repeat scroll 0 0 #f8f8f8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 8px 0 0 {{core_color}} inset;
  margin: -10px -20px 10px -22px;
  padding: 0 0 0 8px;
  overflow: hidden;
}
.{{core-slug}}-sub-headerbrickroad {
  background: none repeat scroll 0 0 #f8f8f8;
  border-radius: 0 0 6px;
  bottom: 32px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1), 8px 0 0 #404040 inset;
  margin: -11px -20px 10px -22px;
  overflow: hidden;
  padding: 0 0 0 8px;
  position: absolute;
  top: 65px;
  width: 140px;
}
.{{core-slug}}-subline,
.{{core-slug}}-version {
  color: #9f9f9f;
  font-size: 0.55em;
  line-height: 0;
  margin-right: 12px;
}

.{{core-slug}}-main-headerbrickroad h1,
.{{core-slug}}-main-headercaldera h1 {
	color: #4f4f4f;
	font-size: 20px;
	font-weight: 300;
  float: left;
  padding: 11px 15px 2px 0;  
  margin: 6px;
  line-height: 17px;
}

.{{core-slug}}-main-headerbrickroad .logo-icon,
.{{core-slug}}-main-headercaldera .logo-icon{
	color: {{core_color}};
  font-size: 72px;
  margin: -18px 20px 0 -60px;
  opacity: 0.2;
  padding: 0 15px 0 0;
}

.{{core-slug}}-main-headerwordpress .error_notice_box,
.{{core-slug}}-main-headerwordpress .updated_notice_box,
.{{core-slug}}-main-headerbrickroad .error_notice_box,
.{{core-slug}}-main-headerbrickroad .updated_notice_box,
.{{core-slug}}-main-headercaldera .error_notice_box,
.{{core-slug}}-main-headercaldera .updated_notice_box {
  background: #fff;
  border-left: 8px solid rgb(175, 175, 0);
  color: #333;
  display: inline-block;
  padding: 20px 23px 15px 12px;
  position: fixed;
  top: -175px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  z-index: 99999;
}
.{{core-slug}}-nav-separator {
  background: #f8f8f8 none repeat scroll 0 0;
  display: inline-block;
  height: 55px;
  margin: -23px 6px -23px 12px;
  width: 1px;
}

.{{core-slug}}-main-headerwordpress .error_notice_box,
.{{core-slug}}-main-headerbrickroad .error_notice_box,
.{{core-slug}}-main-headercaldera .error_notice_box {
  border-left: 8px solid rgb(175, 0, 0);
}
.{{core-slug}}-general-delete-link{
  color: #a00;
}
.{{core-slug}}-general-delete-link:hover{
  color: red;
}
.subsubsub.{{core-slug}}-nav-tabs a:last-child{
  display: none;
}
.wrap .{{core-slug}}-main-headerbrickroad .add-new-h2,
.wrap .{{core-slug}}-main-headercaldera .add-new-h2{
	font-size: 12px;
	margin: 6px;
	cursor: pointer;
  color: #4f4f4f;
}
.{{core-slug}}-main-headerbrickroad .add-new-h2.current,
.{{core-slug}}-main-headercaldera .add-new-h2.current {
  background: none repeat scroll 0 0 {{core_color}};
  color: #fff;
}
.{{core-slug}}-main-headerbrickroad .add-new-h2:hover,
.{{core-slug}}-main-headercaldera .add-new-h2:hover {
	background: none repeat scroll 0 0 {{core_color}};
  color: #fff;
}

.{{core-slug}}-main-headerbrickroad .{{core-slug}}-header-tabs,
.{{core-slug}}-main-headercaldera .{{core-slug}}-header-tabs {
  float: left;
  margin: 0 0 0 -22px;
  padding: 0;
}
.{{core-slug}}-sub-headerbrickroad .{{core-slug}}-sub-tabs,
.{{core-slug}}-sub-headercaldera .{{core-slug}}-sub-tabs {
  margin: 0;
  padding: 0;
}

.{{core-slug}}-main-headerbrickroad .{{core-slug}}-header-tabs > li,
.{{core-slug}}-main-headercaldera .{{core-slug}}-header-tabs > li{
  float: left;
}
.{{core-slug}}-main-headerbrickroad .{{core-slug}}-header-tabs > li > a,
.{{core-slug}}-main-headercaldera .{{core-slug}}-header-tabs > li > a{
  display: inline-block;
  margin: 0 0 -15px;
  padding: 16px 20px 20px;
  text-decoration: none;
  color:{{core_color}};
}
.{{core-slug}}-main-headercaldera .{{core-slug}}-header-tabs > li > a:hover{
  background-color: #efefef;
}
.{{core-slug}}-main-headercaldera .{{core-slug}}-header-tabs > li.active > a{
  background-color: {{core_color}};
  color: #fff;
}
.{{core-slug}}-main-headerbrickroad .{{core-slug}}-header-tabs > li.active > a {
  background-color: {{core_color}};
  color: #fff;
}
.{{core-slug}}-sub-headercaldera .{{core-slug}}-sub-tabs > li {
  float: left;
  margin: 0;
}
.{{core-slug}}-sub-headerbrickroad .{{core-slug}}-sub-tabs > li {
  float: left;
  margin: 0;
  width: 100%;
}
.{{core-slug}}-sub-headercaldera .{{core-slug}}-sub-tabs > li > a{
  display: inline-block;
  margin: 0;
  padding: 6px 14px 8px;
  text-decoration: none;
  color:{{core_color}};
}
.{{core-slug}}-sub-headerbrickroad .{{core-slug}}-sub-tabs > li > a {
  color: {{core_color}};
  display: block;
  margin: 0;
  padding: 6px 14px 8px;
  text-decoration: none;
}
.{{core-slug}}-sub-headercaldera .{{core-slug}}-sub-tabs > li > a:hover{
  background-color: #efefef;
}
.{{core-slug}}-sub-headercaldera .{{core-slug}}-sub-tabs > li.active > a{
  background-color: {{core_color}};
  color: #fff;
}
.{{core-slug}}-sub-headerbrickroad .{{core-slug}}-sub-tabs > li.active > a {
  background-color: #646464;
  color: #fff;
}
.{{core-slug}}-split-panel {
  margin-left: 300px;
}
.{{core-slug}}-side-list {
  float: left;
  margin-left: -300px;
  width: 280px;
}
.{{core-slug}}-side-list > label{
	display: block;
}
.{{core-slug}}-side-list > select {
	width: 100%;
	margin-bottom: 2px;
}

.{{core-slug}}-footer-bar {
  border-top: 1px solid #e6e6e6;
  margin: 30px -20px 0 -22px;
  padding: 20px;
}

.{{core-slug}}-main-list {
  float: left;
  min-height: 100px;
  width: 550px;
  position: relative;
}

.{{core-slug}}-config-group {
  margin-bottom: 6px;
}
.{{core-slug}}-config-group > label {
  display: inline-block;
  margin: 6px 0 0;
  vertical-align: top;
  width: 180px;
}
.{{core-slug}}-config-group .invalid {
  border: 1px solid #c00 !important;
  box-shadow: 0 0 5px -1px #c00 !important;
}
/* groups wrappers */
.{{core-slug}}-add-group-btn {
  color: #777;
  cursor: pointer;
  float: left;
  font-size: 1.5em;
  width: 40px;
}
.{{core-slug}}-group-wrapper {
  float: left;
  margin-right: 12px;
  width: 280px;
}
.{{core-slug}}-group-wrapper .sortable-placeholder {
  display: block;
  float: left;
}
.{{core-slug}}-field-group {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  color: #555;
  margin: 0 0 6px;
  padding: 6px 12px;
  position: relative;
}
.{{core-slug}}-field-item {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  color: #555;
  margin: 0 0 6px;
  overflow: hidden;
  padding: 6px 0 6px 6px;
  position: relative;
}
.{{core-slug}}-field-group-config {
  background: none repeat scroll 0 0 rgb(248, 248, 248);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.18);
  height: 130px;
  margin: 6px 0;
  overflow: hidden;
  padding: 6px 6px 0;
}
.{{core-slug}}-field-config-wrapper {
  float: left;
  width: 550px;
}

.{{core-slug}}-editor-panel{
  height:100%;
}

/* Tags */
.magic-tag-init {
  margin: 4px 2px;
  padding: 3px;
  position: absolute;
  right: 0;
}
.ui-autocomplete-category {
  background: none repeat scroll 0 0 #cecece;
  font-weight: bold;
  padding: 3px 10px;
}
.ui-autocomplete {
  border: 1px solid #cbcbcb;
  max-height: 380px;
  overflow: auto;
}
.{{core-slug}}-card-item {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), 50px 0 0 #f8f8f8 inset;
  box-sizing: border-box;
  color: #555;
  display: inline-block;
  font-size: 13px;
  min-height: 90px;
  margin: 6px 6px 0 0;
  overflow: hidden;
  padding: 0 0 0 50px;
  position: relative;
  width: {{core_card_size}};
}
.{{core-slug}}-card-sub-item {
  background: none repeat scroll 0 0 #fcfcfc;
  border: 1px solid #e5e5e5;
  box-shadow: -39px 0 0 #f8f8f8 inset,-40px 0 0 #dfdfdf inset;
  box-sizing: border-box;
  color: #555;
  font-size: 13px;
  margin: 0 0 6px;
  padding: 6px;
  position: relative;
}

.{{core-slug}}-card-item .{{core-slug}}-card-icon {
  float: left;
  font-size: 95px;
  height: 100%;
  margin-left: -51px;
  overflow: hidden;
  padding: 0 1px;
  text-indent: -40px;
  width: 49px;
  line-height: 84px;
}
.{{core-slug}}-card-item .{{core-slug}}-card-icon:before {
  opacity: 0.2;
}
.{{core-slug}}-card-content {
  box-sizing: padding-box;
  border-left: 1px solid #dfdfdf;
  padding: 6px 12px;
  width: 100%;
  min-height: 90px;
  overflow: hidden;
  white-space: nowrap;
}
.ui-sortable-helper .{{core-slug}}-card-content{
  overflow: visible;
}
.ui-sortable-helper .dashicons{
  display: none;
}
.{{core-slug}}-card-item .{{core-slug}}-card-content > h4{
	margin: 0;
}

.{{core-slug}}-card-content input[type="text"] {
  width: 100%;
}
.{{core-slug}}-card-content .description {
  color: #8f8f8f;
  font-size: 11px;
}
.{{core-slug}}-card-content .{{core-slug}}-card-actions {
  padding: 0;
}
.{{core-slug}}-card-content .{{core-slug}}-card-actions .row-actions{
	visibility: visible;
    left: initial;
}
.{{core-slug}}-card-content .{{core-slug}}-card-actions .row-actions a{
	text-decoration: none;
}
#{{core-slug}}-save-indicator.loading .spinner{
  display: block;
  visibility: visible;
}

/* wp cleaups */
/*.sticky-menu #adminmenuwrap{
  position: relative;
}*/
.{{core-slug}}-config-group .CodeMirror.CodeMirror-wrap {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
  padding: 6px 0 3px;
}

{{mode_theme_style}}
