.{{core-slug}}-grid article,
.{{core-slug}}-grid aside,
.{{core-slug}}-grid details,
.{{core-slug}}-grid figcaption,
.{{core-slug}}-grid figure,
.{{core-slug}}-grid footer,
.{{core-slug}}-grid header,
.{{core-slug}}-grid hgroup,
.{{core-slug}}-grid main,
.{{core-slug}}-grid menu,
.{{core-slug}}-grid nav,
.{{core-slug}}-grid section,
.{{core-slug}}-grid summary {
  display: block;
}
.{{core-slug}}-grid audio,
.{{core-slug}}-grid canvas,
.{{core-slug}}-grid progress,
.{{core-slug}}-grid video {
  display: inline-block;
  vertical-align: baseline;
}
.{{core-slug}}-grid audio:not([controls]) {
  display: none;
  height: 0;
}
.{{core-slug}}-grid [hidden],
.{{core-slug}}-grid template {
  display: none;
}
.{{core-slug}}-grid a {
  background-color: transparent;
}
.{{core-slug}}-grid a:active,
.{{core-slug}}-grid a:hover {
  outline: 0;
}
.{{core-slug}}-grid abbr[title] {
  border-bottom: 1px dotted;
}
.{{core-slug}}-grid b,
.{{core-slug}}-grid strong {
  font-weight: bold;
}
.{{core-slug}}-grid dfn {
  font-style: italic;
}
.{{core-slug}}-grid h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.{{core-slug}}-grid mark {
  background: #ff0;
  color: #000;
}
.{{core-slug}}-grid small {
  font-size: 80%;
}
.{{core-slug}}-grid sub,
.{{core-slug}}-grid sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.{{core-slug}}-grid sup {
  top: -0.5em;
}
.{{core-slug}}-grid sub {
  bottom: -0.25em;
}
.{{core-slug}}-grid img {
  border: 0;
}
.{{core-slug}}-grid svg:not(:root) {
  overflow: hidden;
}
.{{core-slug}}-grid figure {
  margin: 1em 40px;
}
.{{core-slug}}-grid hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
.{{core-slug}}-grid pre {
  overflow: auto;
}
.{{core-slug}}-grid code,
.{{core-slug}}-grid kbd,
.{{core-slug}}-grid pre,
.{{core-slug}}-grid samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
.{{core-slug}}-grid button,
.{{core-slug}}-grid input,
.{{core-slug}}-grid optgroup,
.{{core-slug}}-grid select,
.{{core-slug}}-grid textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
.{{core-slug}}-grid button {
  overflow: visible;
}
.{{core-slug}}-grid button,
.{{core-slug}}-grid select {
  text-transform: none;
}
.{{core-slug}}-grid button,
.{{core-slug}}-grid html input[type="button"],
.{{core-slug}}-grid input[type="reset"],
.{{core-slug}}-grid input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
.{{core-slug}}-grid button[disabled],
.{{core-slug}}-grid html input[disabled] {
  cursor: default;
}
.{{core-slug}}-grid button::-moz-focus-inner,
.{{core-slug}}-grid input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.{{core-slug}}-grid input {
  line-height: normal;
}
.{{core-slug}}-grid input[type="checkbox"],
.{{core-slug}}-grid input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
.{{core-slug}}-grid input[type="number"]::-webkit-inner-spin-button,
.{{core-slug}}-grid input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
.{{core-slug}}-grid input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.{{core-slug}}-grid input[type="search"]::-webkit-search-cancel-button,
.{{core-slug}}-grid input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.{{core-slug}}-grid fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.{{core-slug}}-grid legend {
  border: 0;
  padding: 0;
}
.{{core-slug}}-grid textarea {
  overflow: auto;
}
.{{core-slug}}-grid optgroup {
  font-weight: bold;
}
.{{core-slug}}-grid table {
  border-collapse: collapse;
  border-spacing: 0;
}
.{{core-slug}}-grid td,
.{{core-slug}}-grid th {
  padding: 0;
}
@media print {
  .{{core-slug}}-grid *,
  .{{core-slug}}-grid *:before,
  .{{core-slug}}-grid *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  .{{core-slug}}-grid a,
  .{{core-slug}}-grid a:visited {
    text-decoration: underline;
  }
  .{{core-slug}}-grid a[href]:after {
    content: " (" attr(href) ")";
  }
  .{{core-slug}}-grid abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .{{core-slug}}-grid a[href^="#"]:after,
  .{{core-slug}}-grid a[href^="javascript:"]:after {
    content: "";
  }
  .{{core-slug}}-grid pre,
  .{{core-slug}}-grid blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  .{{core-slug}}-grid thead {
    display: table-header-group;
  }
  .{{core-slug}}-grid tr,
  .{{core-slug}}-grid img {
    page-break-inside: avoid;
  }
  .{{core-slug}}-grid img {
    max-width: 100% !important;
  }
  .{{core-slug}}-grid p,
  .{{core-slug}}-grid h2,
  .{{core-slug}}-grid h3 {
    orphans: 3;
    widows: 3;
  }
  .{{core-slug}}-grid h2,
  .{{core-slug}}-grid h3 {
    page-break-after: avoid;
  }
  .{{core-slug}}-grid select {
    background: #fff !important;
  }
  .{{core-slug}}-grid .navbar {
    display: none;
  }
  .{{core-slug}}-grid .btn > .caret,
  .{{core-slug}}-grid .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .{{core-slug}}-grid .label {
    border: 1px solid #000;
  }
  .{{core-slug}}-grid .table {
    border-collapse: collapse !important;
  }
  .{{core-slug}}-grid .table td,
  .{{core-slug}}-grid .table th {
    background-color: #fff !important;
  }
  .{{core-slug}}-grid .table-bordered th,
  .{{core-slug}}-grid .table-bordered td {
    border: 1px solid #ddd !important;
  }
}
.{{core-slug}}-grid .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .{{core-slug}}-grid .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .{{core-slug}}-grid .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .{{core-slug}}-grid .container {
    width: 1170px;
  }
}
.{{core-slug}}-grid .container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.{{core-slug}}-grid .row {
  margin-left: -15px;
  margin-right: -15px;
}
.{{core-slug}}-grid .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.{{core-slug}}-grid .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.{{core-slug}}-grid .col-xs-12 {
  width: 100%;
}
.{{core-slug}}-grid .col-xs-11 {
  width: 91.66666667%;
}
.{{core-slug}}-grid .col-xs-10 {
  width: 83.33333333%;
}
.{{core-slug}}-grid .col-xs-9 {
  width: 75%;
}
.{{core-slug}}-grid .col-xs-8 {
  width: 66.66666667%;
}
.{{core-slug}}-grid .col-xs-7 {
  width: 58.33333333%;
}
.{{core-slug}}-grid .col-xs-6 {
  width: 50%;
}
.{{core-slug}}-grid .col-xs-5 {
  width: 41.66666667%;
}
.{{core-slug}}-grid .col-xs-4 {
  width: 33.33333333%;
}
.{{core-slug}}-grid .col-xs-3 {
  width: 25%;
}
.{{core-slug}}-grid .col-xs-2 {
  width: 16.66666667%;
}
.{{core-slug}}-grid .col-xs-1 {
  width: 8.33333333%;
}
.{{core-slug}}-grid .col-xs-pull-12 {
  right: 100%;
}
.{{core-slug}}-grid .col-xs-pull-11 {
  right: 91.66666667%;
}
.{{core-slug}}-grid .col-xs-pull-10 {
  right: 83.33333333%;
}
.{{core-slug}}-grid .col-xs-pull-9 {
  right: 75%;
}
.{{core-slug}}-grid .col-xs-pull-8 {
  right: 66.66666667%;
}
.{{core-slug}}-grid .col-xs-pull-7 {
  right: 58.33333333%;
}
.{{core-slug}}-grid .col-xs-pull-6 {
  right: 50%;
}
.{{core-slug}}-grid .col-xs-pull-5 {
  right: 41.66666667%;
}
.{{core-slug}}-grid .col-xs-pull-4 {
  right: 33.33333333%;
}
.{{core-slug}}-grid .col-xs-pull-3 {
  right: 25%;
}
.{{core-slug}}-grid .col-xs-pull-2 {
  right: 16.66666667%;
}
.{{core-slug}}-grid .col-xs-pull-1 {
  right: 8.33333333%;
}
.{{core-slug}}-grid .col-xs-pull-0 {
  right: auto;
}
.{{core-slug}}-grid .col-xs-push-12 {
  left: 100%;
}
.{{core-slug}}-grid .col-xs-push-11 {
  left: 91.66666667%;
}
.{{core-slug}}-grid .col-xs-push-10 {
  left: 83.33333333%;
}
.{{core-slug}}-grid .col-xs-push-9 {
  left: 75%;
}
.{{core-slug}}-grid .col-xs-push-8 {
  left: 66.66666667%;
}
.{{core-slug}}-grid .col-xs-push-7 {
  left: 58.33333333%;
}
.{{core-slug}}-grid .col-xs-push-6 {
  left: 50%;
}
.{{core-slug}}-grid .col-xs-push-5 {
  left: 41.66666667%;
}
.{{core-slug}}-grid .col-xs-push-4 {
  left: 33.33333333%;
}
.{{core-slug}}-grid .col-xs-push-3 {
  left: 25%;
}
.{{core-slug}}-grid .col-xs-push-2 {
  left: 16.66666667%;
}
.{{core-slug}}-grid .col-xs-push-1 {
  left: 8.33333333%;
}
.{{core-slug}}-grid .col-xs-push-0 {
  left: auto;
}
.{{core-slug}}-grid .col-xs-offset-12 {
  margin-left: 100%;
}
.{{core-slug}}-grid .col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.{{core-slug}}-grid .col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.{{core-slug}}-grid .col-xs-offset-9 {
  margin-left: 75%;
}
.{{core-slug}}-grid .col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.{{core-slug}}-grid .col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.{{core-slug}}-grid .col-xs-offset-6 {
  margin-left: 50%;
}
.{{core-slug}}-grid .col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.{{core-slug}}-grid .col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.{{core-slug}}-grid .col-xs-offset-3 {
  margin-left: 25%;
}
.{{core-slug}}-grid .col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.{{core-slug}}-grid .col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.{{core-slug}}-grid .col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .{{core-slug}}-grid .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .{{core-slug}}-grid .col-sm-12 {
    width: 100%;
  }
  .{{core-slug}}-grid .col-sm-11 {
    width: 91.66666667%;
  }
  .{{core-slug}}-grid .col-sm-10 {
    width: 83.33333333%;
  }
  .{{core-slug}}-grid .col-sm-9 {
    width: 75%;
  }
  .{{core-slug}}-grid .col-sm-8 {
    width: 66.66666667%;
  }
  .{{core-slug}}-grid .col-sm-7 {
    width: 58.33333333%;
  }
  .{{core-slug}}-grid .col-sm-6 {
    width: 50%;
  }
  .{{core-slug}}-grid .col-sm-5 {
    width: 41.66666667%;
  }
  .{{core-slug}}-grid .col-sm-4 {
    width: 33.33333333%;
  }
  .{{core-slug}}-grid .col-sm-3 {
    width: 25%;
  }
  .{{core-slug}}-grid .col-sm-2 {
    width: 16.66666667%;
  }
  .{{core-slug}}-grid .col-sm-1 {
    width: 8.33333333%;
  }
  .{{core-slug}}-grid .col-sm-pull-12 {
    right: 100%;
  }
  .{{core-slug}}-grid .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .{{core-slug}}-grid .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .{{core-slug}}-grid .col-sm-pull-9 {
    right: 75%;
  }
  .{{core-slug}}-grid .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .{{core-slug}}-grid .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .{{core-slug}}-grid .col-sm-pull-6 {
    right: 50%;
  }
  .{{core-slug}}-grid .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .{{core-slug}}-grid .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .{{core-slug}}-grid .col-sm-pull-3 {
    right: 25%;
  }
  .{{core-slug}}-grid .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .{{core-slug}}-grid .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .{{core-slug}}-grid .col-sm-pull-0 {
    right: auto;
  }
  .{{core-slug}}-grid .col-sm-push-12 {
    left: 100%;
  }
  .{{core-slug}}-grid .col-sm-push-11 {
    left: 91.66666667%;
  }
  .{{core-slug}}-grid .col-sm-push-10 {
    left: 83.33333333%;
  }
  .{{core-slug}}-grid .col-sm-push-9 {
    left: 75%;
  }
  .{{core-slug}}-grid .col-sm-push-8 {
    left: 66.66666667%;
  }
  .{{core-slug}}-grid .col-sm-push-7 {
    left: 58.33333333%;
  }
  .{{core-slug}}-grid .col-sm-push-6 {
    left: 50%;
  }
  .{{core-slug}}-grid .col-sm-push-5 {
    left: 41.66666667%;
  }
  .{{core-slug}}-grid .col-sm-push-4 {
    left: 33.33333333%;
  }
  .{{core-slug}}-grid .col-sm-push-3 {
    left: 25%;
  }
  .{{core-slug}}-grid .col-sm-push-2 {
    left: 16.66666667%;
  }
  .{{core-slug}}-grid .col-sm-push-1 {
    left: 8.33333333%;
  }
  .{{core-slug}}-grid .col-sm-push-0 {
    left: auto;
  }
  .{{core-slug}}-grid .col-sm-offset-12 {
    margin-left: 100%;
  }
  .{{core-slug}}-grid .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .{{core-slug}}-grid .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .{{core-slug}}-grid .col-sm-offset-9 {
    margin-left: 75%;
  }
  .{{core-slug}}-grid .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .{{core-slug}}-grid .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .{{core-slug}}-grid .col-sm-offset-6 {
    margin-left: 50%;
  }
  .{{core-slug}}-grid .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .{{core-slug}}-grid .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .{{core-slug}}-grid .col-sm-offset-3 {
    margin-left: 25%;
  }
  .{{core-slug}}-grid .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .{{core-slug}}-grid .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .{{core-slug}}-grid .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .{{core-slug}}-grid .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .{{core-slug}}-grid .col-md-12 {
    width: 100%;
  }
  .{{core-slug}}-grid .col-md-11 {
    width: 91.66666667%;
  }
  .{{core-slug}}-grid .col-md-10 {
    width: 83.33333333%;
  }
  .{{core-slug}}-grid .col-md-9 {
    width: 75%;
  }
  .{{core-slug}}-grid .col-md-8 {
    width: 66.66666667%;
  }
  .{{core-slug}}-grid .col-md-7 {
    width: 58.33333333%;
  }
  .{{core-slug}}-grid .col-md-6 {
    width: 50%;
  }
  .{{core-slug}}-grid .col-md-5 {
    width: 41.66666667%;
  }
  .{{core-slug}}-grid .col-md-4 {
    width: 33.33333333%;
  }
  .{{core-slug}}-grid .col-md-3 {
    width: 25%;
  }
  .{{core-slug}}-grid .col-md-2 {
    width: 16.66666667%;
  }
  .{{core-slug}}-grid .col-md-1 {
    width: 8.33333333%;
  }
  .{{core-slug}}-grid .col-md-pull-12 {
    right: 100%;
  }
  .{{core-slug}}-grid .col-md-pull-11 {
    right: 91.66666667%;
  }
  .{{core-slug}}-grid .col-md-pull-10 {
    right: 83.33333333%;
  }
  .{{core-slug}}-grid .col-md-pull-9 {
    right: 75%;
  }
  .{{core-slug}}-grid .col-md-pull-8 {
    right: 66.66666667%;
  }
  .{{core-slug}}-grid .col-md-pull-7 {
    right: 58.33333333%;
  }
  .{{core-slug}}-grid .col-md-pull-6 {
    right: 50%;
  }
  .{{core-slug}}-grid .col-md-pull-5 {
    right: 41.66666667%;
  }
  .{{core-slug}}-grid .col-md-pull-4 {
    right: 33.33333333%;
  }
  .{{core-slug}}-grid .col-md-pull-3 {
    right: 25%;
  }
  .{{core-slug}}-grid .col-md-pull-2 {
    right: 16.66666667%;
  }
  .{{core-slug}}-grid .col-md-pull-1 {
    right: 8.33333333%;
  }
  .{{core-slug}}-grid .col-md-pull-0 {
    right: auto;
  }
  .{{core-slug}}-grid .col-md-push-12 {
    left: 100%;
  }
  .{{core-slug}}-grid .col-md-push-11 {
    left: 91.66666667%;
  }
  .{{core-slug}}-grid .col-md-push-10 {
    left: 83.33333333%;
  }
  .{{core-slug}}-grid .col-md-push-9 {
    left: 75%;
  }
  .{{core-slug}}-grid .col-md-push-8 {
    left: 66.66666667%;
  }
  .{{core-slug}}-grid .col-md-push-7 {
    left: 58.33333333%;
  }
  .{{core-slug}}-grid .col-md-push-6 {
    left: 50%;
  }
  .{{core-slug}}-grid .col-md-push-5 {
    left: 41.66666667%;
  }
  .{{core-slug}}-grid .col-md-push-4 {
    left: 33.33333333%;
  }
  .{{core-slug}}-grid .col-md-push-3 {
    left: 25%;
  }
  .{{core-slug}}-grid .col-md-push-2 {
    left: 16.66666667%;
  }
  .{{core-slug}}-grid .col-md-push-1 {
    left: 8.33333333%;
  }
  .{{core-slug}}-grid .col-md-push-0 {
    left: auto;
  }
  .{{core-slug}}-grid .col-md-offset-12 {
    margin-left: 100%;
  }
  .{{core-slug}}-grid .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .{{core-slug}}-grid .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .{{core-slug}}-grid .col-md-offset-9 {
    margin-left: 75%;
  }
  .{{core-slug}}-grid .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .{{core-slug}}-grid .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .{{core-slug}}-grid .col-md-offset-6 {
    margin-left: 50%;
  }
  .{{core-slug}}-grid .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .{{core-slug}}-grid .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .{{core-slug}}-grid .col-md-offset-3 {
    margin-left: 25%;
  }
  .{{core-slug}}-grid .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .{{core-slug}}-grid .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .{{core-slug}}-grid .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .{{core-slug}}-grid .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .{{core-slug}}-grid .col-lg-12 {
    width: 100%;
  }
  .{{core-slug}}-grid .col-lg-11 {
    width: 91.66666667%;
  }
  .{{core-slug}}-grid .col-lg-10 {
    width: 83.33333333%;
  }
  .{{core-slug}}-grid .col-lg-9 {
    width: 75%;
  }
  .{{core-slug}}-grid .col-lg-8 {
    width: 66.66666667%;
  }
  .{{core-slug}}-grid .col-lg-7 {
    width: 58.33333333%;
  }
  .{{core-slug}}-grid .col-lg-6 {
    width: 50%;
  }
  .{{core-slug}}-grid .col-lg-5 {
    width: 41.66666667%;
  }
  .{{core-slug}}-grid .col-lg-4 {
    width: 33.33333333%;
  }
  .{{core-slug}}-grid .col-lg-3 {
    width: 25%;
  }
  .{{core-slug}}-grid .col-lg-2 {
    width: 16.66666667%;
  }
  .{{core-slug}}-grid .col-lg-1 {
    width: 8.33333333%;
  }
  .{{core-slug}}-grid .col-lg-pull-12 {
    right: 100%;
  }
  .{{core-slug}}-grid .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .{{core-slug}}-grid .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .{{core-slug}}-grid .col-lg-pull-9 {
    right: 75%;
  }
  .{{core-slug}}-grid .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .{{core-slug}}-grid .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .{{core-slug}}-grid .col-lg-pull-6 {
    right: 50%;
  }
  .{{core-slug}}-grid .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .{{core-slug}}-grid .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .{{core-slug}}-grid .col-lg-pull-3 {
    right: 25%;
  }
  .{{core-slug}}-grid .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .{{core-slug}}-grid .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .{{core-slug}}-grid .col-lg-pull-0 {
    right: auto;
  }
  .{{core-slug}}-grid .col-lg-push-12 {
    left: 100%;
  }
  .{{core-slug}}-grid .col-lg-push-11 {
    left: 91.66666667%;
  }
  .{{core-slug}}-grid .col-lg-push-10 {
    left: 83.33333333%;
  }
  .{{core-slug}}-grid .col-lg-push-9 {
    left: 75%;
  }
  .{{core-slug}}-grid .col-lg-push-8 {
    left: 66.66666667%;
  }
  .{{core-slug}}-grid .col-lg-push-7 {
    left: 58.33333333%;
  }
  .{{core-slug}}-grid .col-lg-push-6 {
    left: 50%;
  }
  .{{core-slug}}-grid .col-lg-push-5 {
    left: 41.66666667%;
  }
  .{{core-slug}}-grid .col-lg-push-4 {
    left: 33.33333333%;
  }
  .{{core-slug}}-grid .col-lg-push-3 {
    left: 25%;
  }
  .{{core-slug}}-grid .col-lg-push-2 {
    left: 16.66666667%;
  }
  .{{core-slug}}-grid .col-lg-push-1 {
    left: 8.33333333%;
  }
  .{{core-slug}}-grid .col-lg-push-0 {
    left: auto;
  }
  .{{core-slug}}-grid .col-lg-offset-12 {
    margin-left: 100%;
  }
  .{{core-slug}}-grid .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .{{core-slug}}-grid .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .{{core-slug}}-grid .col-lg-offset-9 {
    margin-left: 75%;
  }
  .{{core-slug}}-grid .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .{{core-slug}}-grid .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .{{core-slug}}-grid .col-lg-offset-6 {
    margin-left: 50%;
  }
  .{{core-slug}}-grid .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .{{core-slug}}-grid .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .{{core-slug}}-grid .col-lg-offset-3 {
    margin-left: 25%;
  }
  .{{core-slug}}-grid .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .{{core-slug}}-grid .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .{{core-slug}}-grid .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.{{core-slug}}-grid .clearfix:before,
.{{core-slug}}-grid .clearfix:after,
.{{core-slug}}-grid .{{core-slug}}-grid .container:before,
.{{core-slug}}-grid .{{core-slug}}-grid .container:after,
.{{core-slug}}-grid .{{core-slug}}-grid .container-fluid:before,
.{{core-slug}}-grid .{{core-slug}}-grid .container-fluid:after,
.{{core-slug}}-grid .{{core-slug}}-grid .row:before,
.{{core-slug}}-grid .{{core-slug}}-grid .row:after {
  content: " ";
  display: table;
}
.{{core-slug}}-grid .clearfix:after,
.{{core-slug}}-grid .{{core-slug}}-grid .container:after,
.{{core-slug}}-grid .{{core-slug}}-grid .container-fluid:after,
.{{core-slug}}-grid .{{core-slug}}-grid .row:after {
  clear: both;
}
.{{core-slug}}-grid .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.{{core-slug}}-grid .pull-right {
  float: right !important;
}
.{{core-slug}}-grid .pull-left {
  float: left !important;
}
.{{core-slug}}-grid .hide {
  display: none !important;
}
.{{core-slug}}-grid .show {
  display: block !important;
}
.{{core-slug}}-grid .invisible {
  visibility: hidden;
}
.{{core-slug}}-grid .text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.{{core-slug}}-grid .hidden {
  display: none !important;
}
.{{core-slug}}-grid .affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.{{core-slug}}-grid .visible-xs,
.{{core-slug}}-grid .visible-sm,
.{{core-slug}}-grid .visible-md,
.{{core-slug}}-grid .visible-lg {
  display: none !important;
}
.{{core-slug}}-grid .visible-xs-block,
.{{core-slug}}-grid .visible-xs-inline,
.{{core-slug}}-grid .visible-xs-inline-block,
.{{core-slug}}-grid .visible-sm-block,
.{{core-slug}}-grid .visible-sm-inline,
.{{core-slug}}-grid .visible-sm-inline-block,
.{{core-slug}}-grid .visible-md-block,
.{{core-slug}}-grid .visible-md-inline,
.{{core-slug}}-grid .visible-md-inline-block,
.{{core-slug}}-grid .visible-lg-block,
.{{core-slug}}-grid .visible-lg-inline,
.{{core-slug}}-grid .visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .{{core-slug}}-grid .visible-xs {
    display: block !important;
  }
  table.{{core-slug}}-grid .visible-xs {
    display: table;
  }
  tr.{{core-slug}}-grid .visible-xs {
    display: table-row !important;
  }
  th.{{core-slug}}-grid .visible-xs,
  td.{{core-slug}}-grid .visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .{{core-slug}}-grid .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .{{core-slug}}-grid .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .{{core-slug}}-grid .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .{{core-slug}}-grid .visible-sm {
    display: block !important;
  }
  table.{{core-slug}}-grid .visible-sm {
    display: table;
  }
  tr.{{core-slug}}-grid .visible-sm {
    display: table-row !important;
  }
  th.{{core-slug}}-grid .visible-sm,
  td.{{core-slug}}-grid .visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .{{core-slug}}-grid .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .{{core-slug}}-grid .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .{{core-slug}}-grid .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .{{core-slug}}-grid .visible-md {
    display: block !important;
  }
  table.{{core-slug}}-grid .visible-md {
    display: table;
  }
  tr.{{core-slug}}-grid .visible-md {
    display: table-row !important;
  }
  th.{{core-slug}}-grid .visible-md,
  td.{{core-slug}}-grid .visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .{{core-slug}}-grid .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .{{core-slug}}-grid .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .{{core-slug}}-grid .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .{{core-slug}}-grid .visible-lg {
    display: block !important;
  }
  table.{{core-slug}}-grid .visible-lg {
    display: table;
  }
  tr.{{core-slug}}-grid .visible-lg {
    display: table-row !important;
  }
  th.{{core-slug}}-grid .visible-lg,
  td.{{core-slug}}-grid .visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .{{core-slug}}-grid .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .{{core-slug}}-grid .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .{{core-slug}}-grid .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .{{core-slug}}-grid .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .{{core-slug}}-grid .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .{{core-slug}}-grid .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .{{core-slug}}-grid .hidden-lg {
    display: none !important;
  }
}
.{{core-slug}}-grid .visible-print {
  display: none !important;
}
@media print {
  .{{core-slug}}-grid .visible-print {
    display: block !important;
  }
  table.{{core-slug}}-grid .visible-print {
    display: table;
  }
  tr.{{core-slug}}-grid .visible-print {
    display: table-row !important;
  }
  th.{{core-slug}}-grid .visible-print,
  td.{{core-slug}}-grid .visible-print {
    display: table-cell !important;
  }
}
.{{core-slug}}-grid .visible-print-block {
  display: none !important;
}
@media print {
  .{{core-slug}}-grid .visible-print-block {
    display: block !important;
  }
}
.{{core-slug}}-grid .visible-print-inline {
  display: none !important;
}
@media print {
  .{{core-slug}}-grid .visible-print-inline {
    display: inline !important;
  }
}
.{{core-slug}}-grid .visible-print-inline-block {
  display: none !important;
}
@media print {
  .{{core-slug}}-grid .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .{{core-slug}}-grid .hidden-print {
    display: none !important;
  }
}
