.{{core-slug}}-module-side {
  float: left;
  margin-right: 22px;
  width: 250px;
}

.{{core-slug}}-module-tabs {
  background: none repeat scroll 0 0 #f4f4f4;  
  margin: 0 0 0 -22px;
  padding: 0;
  overflow: hidden;
}
.{{core-slug}}-module-tab {
  margin: 0;
  box-shadow: -1px 0 0 #cfcfcf inset;
}
.{{core-slug}}-module-tab > a{
  display: block;
  margin: 0;
  padding: 9px 10px 9px 22px;
  text-decoration: none;
  color:#444;
}
.{{core-slug}}-module-tab > a:hover{
  background-color: rgba(0, 0, 0, 0.05);
}
.{{core-slug}}-module-tab.active > a{
  background-color: {{core_color}};
  color: #fff;
}
