/* Filter Groups */
.{{core-slug}}-filter-group-or {
  color: #888888;
  font-size: 15px;
  left: 0;
  padding: 4px 0 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: -27px;
  width: 50px;
}
.{{core-slug}}-filter-group {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 50px 0 0 #f8f8f8 inset;
  box-sizing: border-box;
  color: #555;
  font-size: 13px;
  height: auto;
  margin: 24px 6px 0 0;
  padding: 0 0 0 50px;
  position: relative;
  width: 780px;
}
.{{core-slug}}-filter-group:first-child{
  margin-top: 6px;
}
.{{core-slug}}-filter-group-content {
  box-sizing: padding-box;
  border-left: 1px solid #dfdfdf;
  padding: 6px 6px 40px;
  width: 100%;
  min-height: 80px;
}
.{{core-slug}}-filter-group .{{core-slug}}-filter-group-icon {
  color: rgb(175, 0, 0);
  float: left;
  font-size: 40px;
  height: 100%;
  margin-left: -51px;
  width: 50px;
}
.{{core-slug}}-filter-group:first-child .{{core-slug}}-filter-group-or{
  display: none;
}
.{{core-slug}}-filter-line:first-child .{{core-slug}}-filter-group-icon {
  display: none;
}